* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: sans-serif;
}

nav {
    background-color: grey;
    color: white;
    display: flex;
    a {
        text-decoration: none;
        justify-content: space-between;
        color:white;
        padding: 1em 2em;
        &:hover {
            background-color: black;
        }
    }
}